@page
@{
    ViewData["Title"] = "Brak Dostępu";
}

<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <h3 class="text-danger text-center">Nie masz dostępu do tej sekcji.</h3>
</header>
