@{
    ViewData["Title"] = "Home Page";
}

<div id="siteContainer">
    <div class="mpContainer">
        <div class="mpImgContainer"><img src="~/images/123.jpg"></div>
        <div class="mpDataContainer">
            <div class="mpName">Robert Lewandowski</div>
            <div class="mpDate">Data zaginięcia: 2020-05-12</div>
            <div class="mpPlace">Miejsce: Warszawa</div>
            <button class="mpDetailsButton">Szczegóły</button>
        </div>

    </div>
    <div class="mpContainer">
        <div class="mpImgContainer"><img src="~/images/123.jpg"></div>
        <div class="mpDataContainer">
            <div class="mpName">Robert Lewandowski</div>
            <div class="mpDate">Data zaginięcia: 2020-05-12</div>
            <div class="mpPlace">Miejsce: Warszawa</div>
            <button class="mpDetailsButton">Szczegóły</button>
        </div>

    </div>

    <div class="mpContainer">
        <div class="mpImgContainer"><img src="~/images/123.jpg"></div>
        <div class="mpDataContainer">
            <div class="mpName">Robert Lewandowski</div>
            <div class="mpDate">Data zaginięcia: 2020-05-12</div>
            <div class="mpPlace">Miejsce: Warszawa</div>
            <button class="mpDetailsButton">Szczegóły</button>
        </div>

    </div>
</div>
